// General variables.
$primary: #5C00B9;
$secondary: #15002A;

// (Main) Dark theme variables.
$body-bg-dark: #17151A;
$body-color-dark: #FFFFFF;

// Light theme variables
$body-bg: #FFFFFF;
$body-color: #000000;
